body {
    max-width: 1600px !important;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

:root {
    --bg-color: #580f8b;
    --text-color: white;
    --heading-color: #580f8b;
    --toggle-bg-color: white;
    --toggle-text-color: #580f8b;
    --toggle-border-color: #580f8b;
}

#sidebar-wrapper a, #sidebar-wrapper {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

.sidebar-heading {
    color: var(--heading-color);
}

#sidebarToggle {
    background-color: var(--toggle-bg-color);
    color: var(--toggle-text-color);
    border-color: var(--toggle-border-color);
}

.navbar-toggler {
    border-color: var(--bg-color);
}

.nav-link {
    color: var(--bg-color);
}

nav {
    height: 70px;

}


th, td {
    border: 1px solid blueviolet;
    padding: 8px;
    text-align: left;
}


p, li {
    font-family: 'Georgia', serif;
    font-size: 17.8px;
    line-height: 1.6;
    margin-bottom: 15px;

}
.carousel-control-next-icon{
    color: black;

}

/* #sidebarToggle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
   } */

/* Heading 1 style */


/* h2 {
    font-family: 'Cheltenham', 'Times New Roman', serif;
    text-transform: uppercase;

    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--bg-color);

} */



/* === BASE HEADING === */

h2 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin-bottom: 2%;
    color: #580f8b;

}

h2 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}

h2 em {
    font-style: normal;
    font-weight: 600;
}

/* === HEADING STYLE #1 === */
h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

h2:before {
    width: 29px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #c50000;
}

h2:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #c50000;
}




.btn {
    font-family: 'Times New Roman', Times, serif;
}


.list-group-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;

} */

h3{
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 700;
    color: var(--bg-color);
}
strong,b{
    color: var(--bg-color);
}
.table {
    display: flex;
    justify-content: center;

}

td {
    width: 200px;
}

thead {
    background-color: #580f8b;
    color: white;
}


.correct-pos {
    padding-left: 1% !important;
    position: relative !important;
    right: 0;
}

.navbar {
    background-color: #580f8b;
    color: white;
}

.reset-pos-navbar {
    margin-left: 2px !important;


}

.list-group-item {
    font-family: 'Cheltenham', 'Times New Roman', serif;

}


@media(max-width: 767px) {

    nav {
        height: fit-content;


    }

    #sidebar-wrapper {
        position: fixed;
        top: 0;
        height: 100vh;
        z-index: 3;
    }

    h2 {
        padding-top: 60px !important;
        margin-top: 0;
        font-size: 18px;

    }

    #Overview {
        padding-top: 40px !important;

    }


}

@media(min-width: 768px) {

    @keyframes letterDrop {
        from {
            transform: translateY(-50px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    h2 {
        animation: letterDrop 0.5s ease-in-out;
        padding-top: 80px !important;
    }

    .navbar,footer {
        margin-left: 250px;

    }

    #sidebar-wrapper {
        position: fixed;
        left: 0;
        width: 250px;
        height: 100vh;
    }

    #page-content-wrapper {
        padding-left: 250px;


    }

    #Overview {
        padding-top: 55px !important;

    }
}

.container-fluid {
    padding-right: 3%;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */

    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Body settings */
body {
  background-color: #fff;
  color: #000;
  /* System font stack at 14px */
  font: 400 0.875rem/1.42857 system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  display: block;
}
.footer {
  position: relative;
  padding: 0;
  margin: 0;
  background: #eee;
}

/* Links */
.footer a {
  font-weight: 400;
  text-decoration-thickness: 0.0625rem;
  text-underline-offset: 0.25rem;
  text-decoration-line: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease-in-out 0s;
  color: #0d1846;
}
.footer a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: #0d1846;
}
.abn {
  white-space: nowrap;
}

/* add border to bottom of message section */
.message-container {
  margin: 0 auto;
  border-bottom: 1px solid #c5cbd1;
}

.message-contents {
  text-align: left;
  padding: 1rem 1.5rem;
}

/* Container for the links and copyright */
.legal-container {
  margin: 0 auto;
}

.legal-contents {
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
}

.legal-contents ul {
  gap: 1rem;
  flex-direction: column;
  display: flex;
  margin: 0;
  border-bottom: 1px solid #c5cbd1;
  padding: 1.5rem;
  list-style: none;
  text-align: left;
}

.legal-contents p {
  margin: 0;
  padding: 1rem 1.5rem;
}

/* Small Tablet */
@media screen and (min-width: 600px) {
  .legal-contents ul {
    gap: 2rem;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .legal-contents ul {
    gap: 2rem;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}

/* Large Tablet */
@media screen and (min-width: 1024px) {
  .legal-contents {
    flex-flow: row;
    padding: 1.5rem;
  }
  .legal-contents ul {
    border-bottom: 0;
    padding: 0;
  }
  .legal-container p {
    padding: 0;
    text-align: right;
  }
}

/* Desktops and Laptops */
@media screen and (min-width: 1200px) {
  .message-contents,
  .legal-contents {
    margin: 0 auto;
    max-width: 75rem; /* 1200px */
  }
}
/* EOF */
