:root {
    --bg-color: #580f8b;
    --text-color: white;
    --heading-color: #580f8b;
    --toggle-bg-color: white;
    --toggle-text-color: #580f8b;
    --toggle-border-color: #580f8b;
}

#sidebar-wrapper a, #sidebar-wrapper {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

.sidebar-heading {
    color: var(--heading-color);
}

#sidebarToggle {
    background-color: var(--toggle-bg-color);
    color: var(--toggle-text-color);
    border-color: var(--toggle-border-color);
}
.navbar-toggler{
    border-color: var(--bg-color);
}
.nav-link{
    color: var(--bg-color);
}
nav{
    height: 70px;
   
}
#Overview{
    margin-top: 90px!important;
}

th, td {
    border: 1px solid blueviolet;
    padding: 8px;
    text-align: left;
}


h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #580f8b;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 7px;
  
  }


.list-group-item{
    font-family: 'Open Sans', sans-serif;
}
p,li{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
   
}
span{
    font-weight: 900!important;
    font-size: 19px;
    text-decoration: underline;
}
.table{
    display: flex;
    justify-content: center;
    
}
td{
    width: 200px;
}
thead{
    background-color: #580f8b;
    color: white;
}


.correct-pos{
    padding-left: 1%!important;
    position: relative!important;
    right: 0;
}
.navbar{
    background-color: #580f8b;
    color: white;
}
.reset-pos-navbar{
   margin-left: 2px!important;


}
@media(max-width: 767px){
  
    nav{
        height: fit-content;
        

    }
    #sidebar-wrapper{
        position: fixed;
        top: 0;
        height: 100vh;
        z-index: 3;
    }
    #Overview{
        margin-top: 70px!important;
    }
   
}
@media(min-width: 768px){

    @keyframes letterDrop {
        from {
            transform: translateY(-50px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    h2 {
        animation: letterDrop 0.5s ease-in-out;
    }
 .navbar{
    margin-left: 250px;
 }
 #sidebar-wrapper{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100vh;
 }
 #page-content-wrapper{
    padding-left: 250px;
    
  
 }
}
.container-fluid{
    padding-right: 3%;
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    margin-bottom: 20px;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}